# SPDX-FileCopyrightText: 2026 roolrz
# SPDX-License-Identifier: Apache-2.0

CONFIG_STATIC=y
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CP=y
CONFIG_ECHO=y
CONFIG_LS=y
CONFIG_LN=y
CONFIG_MKDIR=y
CONFIG_MKNOD=y
CONFIG_MV=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SLEEP=y
CONFIG_SYNC=y
CONFIG_TEST=y
CONFIG_TRUE=y
CONFIG_FALSE=y
CONFIG_PRINTF=y
CONFIG_UNAME=y
CONFIG_MOUNT=y
CONFIG_UMOUNT=y
CONFIG_INSMOD=y
CONFIG_MODPROBE=y
# CONFIG_MODPROBE_SMALL is not set
CONFIG_RMMOD=y
CONFIG_LSMOD=y
CONFIG_POWEROFF=y
CONFIG_REBOOT=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_MATH_64=y
